* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-light: #ffffff;
  --background-dark: #121212;
  --text-light: #333333;
  --text-dark: #ffffff;
}

.light {
  background-color: var(--background-light);
  color: var(--text-light);
}

.dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
